<div class="text-center" ng-show="showAuthenticating">
    <div id="menuBall5" class="menuBall">
        <a href="#" class="ball purpleball">
        </a>
    </div>
    <div id="menuBalls6" class="menuBall">
        <a href="#" class="ball pinkball">
        </a>
    </div>
    <div id="menuBall1" class="menuBall">
        <a href="#" class="ball blueball">
        </a>
    </div>

    <div id="menuBall2" class="menuBall">
        <a href="#" class="ball redball">
        </a>
    </div>

    <div id="menuBall3" class="menuBall">
        <a href="#" class="ball greenball">
        </a>
    </div>

    <div id="menuBall4" class="menuBall">
        <a href="#" class="ball yellowball">
        </a>
    </div>
</div>